:root {
  --squareColor: #71ddcd;
  --borderColor: #02040f;
  --boxShadow: #ffffff;
}

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	color: #000000;
	background: #184e77;
	background: linear-gradient(to top, #184e77 0%, #76c893 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.square {
	background-color: #52a786;
	-webkit-box-shadow: 15px 20px 70px #67b99a, 
						inset 0px -30px 90px 30px #78df9d, 
						inset 0px 70px 100px 180px #52a786;
	-moz-box-shadow: 	15px 20px 70px #67b99a, 
	  					inset 0px -30px 90px 30px #78df9d, 
	  					inset 0px 70px 100px 180px #52a786;

	box-shadow: 		15px 20px 70px #67b99a, 
	  					inset 0px -30px 90px 30px #78df9d, 
	  					inset 0px 70px 100px 180px #52a786;

}


@media (pointer:fine) {
	.square:hover {
		background:#BDD9BB;
		transform: translate(-10px, -10px);
		-webkit-box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		-moz-box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		
	}
}

@media (pointer:coarse) {
	.square {
		background:#BDD9BB;
		-webkit-box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		-moz-box-shadow: 15px 20px 60px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
	}
}

.radar {
	background-color: #79bca735;
	-webkit-box-shadow: 15px 20px 70px #67b99a, 						inset 0px -30px 90px 30px #78df9d, 						inset 0px 70px 100px 180px #52a786;
	-moz-box-shadow: 	15px 20px 70px #67b99a, 	  					inset 0px -30px 90px 30px #78df9d, 	  					inset 0px 70px 100px 180px #52a786;
	box-shadow: 		15px 20px 70px #67b99a, 	  					inset 0px -30px 90px 30px #78df9d, 	  					inset 0px 70px 100px 180px #52a786;

}

.face {
  background-color: #acc2b4;
  	-webkit-box-shadow: 15px 20px 70px #67b99a, 
						inset 0px -30px 90px 30px #78df9d, 
						inset 0px 70px 100px 180px #97e6c8;
	-moz-box-shadow: 	15px 20px 70px #67b99a, 
	  					inset 0px -30px 90px 30px #78df9d, 
	  					inset 0px 70px 100px 180px #52a786;

	box-shadow: 		15px 20px 70px #67b99a, 
	  					inset 0px -30px 90px 30px #78df9d, 
	  					inset 0px 70px 100px 180px #b7c6c0;

}