:root {
    /**********************\
    *   COLOR VARIABLES    *  
    \**********************/


    /*  body    */
    --backgroundBody:   rgb(245,99,31);
    --gradient: linear-gradient(to top, #f5631f
                                    0%, #ffe863 100%);


    /*  square  */
    --borderColor: #02040f;
        /* not on hover */
    --backgroundSquare:         #1db8f5; 
    --boxShadowSquare:          #fad96100;
    --boxShadowSquareInsetA:    #2E9DF6;
    --boxShadowSquareInsetB:    #3F83FA;


        /* on hover */
    --backgroundSquareHover:      #f1f1f1;
	--boxShadowSquareHover:       #5c8091;
	--boxShadowSquareHoverInsetA: #839cb5; 
	--boxShadowSquareHoverInsetB: #00569727;


    /*  radar   */
    --backgroundRadar:      #ffcd58;
	--boxshadowRadar:       #FFF8DD;
    --boxshadowRadarInsetA: #fff8dd;
    --boxshadowRadarInsetB: #ffad33;

    /*  face    */
    --backgroundFace:       #fffb87;
    --boxShadowFace:        #fffb8752;
    --boxShadowFaceInsetA:  #05090b00;
    --boxShadowFaceInsetB:  #414141;
  
}

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	color: #0f0f0f;
	background: var(--backgroundBody);
	background: var(--gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.square {
    background-color: var(--backgroundSquare);
}

.skills {
    color: rgba(0, 0, 0, 0.728);
}


@media (pointer:fine) {
	.square:hover {
            transform: translate(-10px, -10px);
            background-color: var(--backgroundSquareHover);
		    -webkit-box-shadow: inset 0px 0px 50px 0px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 15px 7px var(--boxShadowSquareHover); 
            box-shadow: inset 0px 0px 50px 0px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 0px 0px var(--boxShadowSquareHover);
	}
}

@media (pointer:coarse) {
	.square {
		background: var(--boxShadowSquareHoverInsetB);
		transform: translate(-10px, -10px);
		-webkit-box-shadow: 15px 20px 70px vvar(--boxShadowSquareHoverInsetB), 
                            inset 0px -30px 90px 30px var(--boxShadowSquareHoverInsetA), 
                            inset 0px 70px 100px 180px var(--boxShadowSquareHoverInsetB);
		-moz-box-shadow:    15px 20px 70px var(--boxShadowSquareHover), 
                            inset 0px -30px 90px 30px var(--boxShadowSquareHoverInsetA), 
                            inset 0px 70px 100px 180px var(--boxShadowSquareHoverInsetB);
		box-shadow:         10px 20px 70px var(--boxShadowSquareHoverInsetB), 
                            inset 0px -30px 90px 30px var(--boxShadowSquareHoverInsetA), 
                            inset 0px 70px 100px 180px var(--boxShadowSquareHoverInsetB);	
	}
}

.radar {
    background-color: var(--backgroundRadar);
    -webkit-box-shadow: inset 0px 0px 50px 15px var(--boxshadowRadarInsetA), inset 0px 0px 50px 50px var(--boxshadowRadarInsetB), 0px 0px 10px 5px var(--boxshadowRadar);
    box-shadow: inset 0px 0px 50px 15px var(--boxshadowRadarInsetA), inset 0px 0px 50px 50px var(--boxshadowRadarInsetB), 0px 0px 10px 5px var(--boxshadowRadar); 
}

.face {
    color: white;
    font-family: junction_bold;
    font-size: 20px;
	background-color: var(--backgroundFace);
	-webkit-box-shadow: 15px 20px 70px var(--boxShadowFace), 
						inset 0px -30px 90px 30px var(--boxShadowFaceInsetA), 
						inset 0px 70px 100px 180px var(--boxShadowFaceInsetB);
	-moz-box-shadow: 	15px 20px 70px var(--boxShadowFace), 
	  					inset 0px -30px 90px 30px var(--boxShadowFaceInsetA), 
	  					inset 0px 70px 100px 180px var(--boxShadowFaceInsetB);

	box-shadow: 		15px 20px 70px var(--boxShadowFace), 
	  					inset 0px -30px 90px 30px var(--boxShadowFaceInsetA), 
	  					inset 0px 70px 100px 180px var(--boxShadowFaceInsetB);

}