:root {
    /**********************\
    *   COLOR VARIABLES    *  
    \**********************/


    /*  body    */
    --backgroundBody:   rgb(245,99,31);
    --gradient: linear-gradient(to top, #0d2751
                                    0%, #55c7de);


    /*  square  */
    --borderColor: #d3d3d3;
        /* not on hover */
    --backgroundSquare:         #414141c7; 
    --boxShadowSquare:          #fad96100;
    --boxShadowSquareInsetA:    #2E9DF6;
    --boxShadowSquareInsetB:    #3F83FA;


        /* on hover */
    --backgroundSquareHover:      #414141d5;
	--boxShadowSquareHover:       #414141;
	--boxShadowSquareHoverInsetA: #1a1a1a; 
	--boxShadowSquareHoverInsetB: #00569727;


    /*  radar   */
    --backgroundRadar:      #b2fbff;
	--boxshadowRadar:       #b2fbff;
    --boxshadowRadarInsetA: #f3fffe;
    --boxshadowRadarInsetB: #90f4d9;

    /*  face    */
    --backgroundFace:       #1b1b1b;
    --boxShadowFace:        #a6f5ffb8;
    --boxShadowFaceInsetA:  #28303300;
    --boxShadowFaceInsetB:  #73aaa700;
  
}

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	color: #ededed;
	background: var(--backgroundBody);
	background: var(--gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.square {
    background-color: var(--backgroundSquare);
  	border: 2px solid var(--borderColor);
}

.board-svg { color: #414141;}

@media (pointer:fine) {
	.square:hover {
            transform: translate(-10px, -10px);
            background-color: var(--backgroundSquareHover);
		    -webkit-box-shadow: inset 0px 0px 50px 0px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 15px 7px var(--boxShadowSquareHover); 
            box-shadow: inset 0px 0px 20px 3px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 0px 0px var(--boxShadowSquareHover);
	}

    .square:hover .button {
        background-color: #4a5864a7;
        box-shadow: 5px 8px 9px 1px #282c31;
    }
}

@media (pointer:coarse) {
	.square {
        background-color: var(--backgroundSquareHover);
        -webkit-box-shadow: inset 0px 0px 50px 0px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 15px 7px var(--boxShadowSquareHover); 
        box-shadow: inset 0px 0px 20px 3px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 0px 0px var(--boxShadowSquareHover);
	}

    .button {
        background-color: #4a5864a7;
        box-shadow: 5px 8px 9px 1px #282c31;
    }
}

.cube_container {
    -webkit-box-shadow: 0px 0px 10px 5px var(--boxshadowRadar);
    box-shadow: 0px 0px 30px 5px var(--boxshadowRadar); 
    background-color: var(--backgroundRadar);
}

/*.radar {
    background-color: var(--backgroundRadar);
    -webkit-box-shadow: inset 0px 0px 50px 15px var(--boxshadowRadarInsetA), inset 0px 0px 50px 50px var(--boxshadowRadarInsetB), 0px 0px 10px 5px var(--boxshadowRadar);
    box-shadow: inset 0px 0px 50px 15px var(--boxshadowRadarInsetA), inset 0px 0px 50px 50px var(--boxshadowRadarInsetB), 0px 0px 10px 5px var(--boxshadowRadar); 
}*/

.face {
	background-color: var(--backgroundFace);
	-webkit-box-shadow: 15px 20px 70px var(--boxShadowFace), 
						inset 0px -30px 90px 30px var(--boxShadowFaceInsetA), 
						inset 0px 70px 100px 180px var(--boxShadowFaceInsetB);
	-moz-box-shadow: 	15px 20px 70px var(--boxShadowFace), 
	  					inset 0px -30px 90px 30px var(--boxShadowFaceInsetA), 
	  					inset 0px 70px 100px 180px var(--boxShadowFaceInsetB);

	box-shadow: 		0px 0px 5px var(--boxShadowFace), 
	  					inset 0px -30px 90px 30px var(--boxShadowFaceInsetA), 
	  					inset 0px 0px 100px 100px var(--boxShadowFaceInsetB);

}