/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
body {line-height: 1;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {
  	content: "";
  	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html {
    font-family: 'Ubuntu Mono';
    height: max-content;
    overflow-x: hidden;
    font-size: 16px;
    font-size: clamp(1em, 1em + 0.45vw, 3em);
}

body {
    height: max-content;
    overflow-x: hidden;
	min-width: 300px;
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.square {
    min-width: 350px;
  	width: 90vw;
  	border-radius: 7px;
	-webkit-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	-moz-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	-ms-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	-o-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: row;
}

.name {
    width: max-content;
    align-items: flex-start;
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
    flex-direction: column;
    align-items: flex-end;
	padding-top: 1.3em;
    padding-left: 3em;
    font-weight: bold;
}

.nameplate {
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	flex-direction: row;
	justify-content: end;
    text-align: center;
    font-size: 1.96em;
    letter-spacing: 0.06em;
}

.supp {
    align-self: start;
    color : #95d8de;
    font-size: 0.5em;
    padding-top: 0.2em;
    letter-spacing: 0.03em;
}

.nameplate-letter {
	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.nameplate-letter:hover {
	transform: translateY(15px);
}

.description {
    font-size: 0.65em;
    letter-spacing: 0.03em;
	white-space: nowrap;
	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.skills {
	letter-spacing: 0.1em;

	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;

	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 0.6em;
}

.button {
    font-size: 0.7em;
    border-radius: 15px;
	margin: 0.6em 0.8em;
    padding: 0.8em 1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    background-color: #2d333a00;
    transition: all 0.2s linear;
}

.project {
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation {
	letter-spacing: 1px;
    padding-top: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5em;
}

.cube_container {
    cursor: crosshair;
    border-radius: 50%;
    width: 17em;
    height: 17em;
    transform: scale(0, 0);
    transition: all 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.cube_pop {
    transform: scale(1, 1);
}

.face {
    border: 1px solid #83f3ff8f;
	font-family: 'Ubuntu Mono';
    font-smooth: always;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faceHeader {
    font-size: 0.45em;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.faceHeader::before {
    content: "$>";
    color: #86d0d7;
}

.faceHeader::after {
    content: "_";
    animation: blink 1s steps(2, start) infinite;
    -webkit-animation: blink 1s steps(2, start) infinite;
    color: #86d0d7;
}

@keyframes blink {
    to {visibility: hidden;}
}

.faceDescription {
    font-size: 0.35em;
    font-style: italic;
    text-align: center;
    color: #bbf8fe;
    padding: 2em 1.5em 0em 1.5em;
    line-height: 1.2em;
    letter-spacing: 0.1em;
}

.contact {
    margin-left: auto;
    margin-top: auto;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    height: calc(2.25 * 2.5em);
    width: calc(2.78 * 2.5em);
    display: flex;
    overflow: hidden;
    padding-bottom: 0.1em;
}

.diag-contact {
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
    align-items: center;
    transform: rotate(45deg);
}

.diag-icons {
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	cursor: pointer;
}

.trait {
	width: 2em;
    border-radius: 2px;
	border-top: 3px solid var(--borderColor);
}

.icon {
	width: 1.4em;
	padding: 0em 0.3em;
	transform-origin: center;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
    filter: invert(100%) sepia(4%) saturate(131%) hue-rotate(145deg) brightness(113%) contrast(86%);
}

.icon:nth-child(2n) {
    margin-right: 0.3em;
}

@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html, body { 
        height: 100%;
    }

    body {
        
    }

    .cube_container {
        shape-outside: circle();
        float: right;
        margin-left: 5em;
    }

    .project {
        display: inline;
        padding-top: 0.5em;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}