/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
body {line-height: 1;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {
  	content: "";
  	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
    --cubeSize: 200px;
	--overflow: none;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;

	user-select: none;
}

html {
    font-family: 'Ubuntu Mono';
    height: auto;
}

body {
    height: auto;
	min-width: 400px;
	font-size: 0.5em;
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
    flex-direction: column;
    align-items: center;
}

.square {
  	width: 90%;
  	border-radius: 7px;

	-webkit-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	-moz-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	-ms-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	-o-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.name {
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	
    flex-direction: column;
	text-align: end;
	letter-spacing: 0.05em;
	padding-top: 0.4em;
	padding-left: 0.8em;
	padding-bottom: 1em;
    font-weight: bold;
    font-size: 7em;
}

.nameplate {
    margin-right: -0.05em;

	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;

	flex-direction: row;
	justify-content: end;
}

.nameplate-letter {
	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.nameplate-letter:hover {
	transform: translateY(15px);
}

.description {
	letter-spacing: 0.05em;
	font-size: 0.3em;
	white-space: nowrap;
	padding-top: 0.1em;
	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.skills {
	font-size: 2em;
	letter-spacing: 0.1em;

	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;

	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 0.7em;
}

.skills > span {
	padding: 1em 1.3em;
}

.project {
    cursor: crosshair;
    padding: 5em 2.5em 7em 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation {
    padding-top: 3em;
	letter-spacing: 1px;
	font-size: 2.9em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5em;
}

.cube_container {
	border-radius: 50%;
	width: calc(var(--cubeSize) * 2);
	height: calc(var(--cubeSize) * 2);
	display: inline-flex;
	justify-content: center;
	align-items: center;
}


:root {
	--angleX: 0deg;
	--angleY: 0deg;
    --squeeze: 1;
    --focusAngleX: 0deg;
    --focusAngleY: 0deg;
}

.focus {
	transition: 0.7s cubic-bezier(0.85, 0, 0.15, 1);
}

.face {
    font-size: 2em;
    border: 1px solid rgb(0, 255, 102);
    background-color: black;
	font-family: 'Ubuntu Mono';
}

.contact {
	position: relative;
	float: right;
	
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	height: 0px;
}

.diag-contact {
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	width: 100%;
	
    align-items: center;
	-webkit-transform: translateX(20px) translateY(45px) rotate(45deg);
	transform: translateX(20px) translateY(45px) rotate(45deg);
}

.diag-icons {
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	cursor: pointer;
}

.trait {
	width: 4em;
	border-top: 3px solid var(--borderColor);
}

.icon {
	width: 32px;
	padding: 0px 5px;
	transform-origin: center;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
    filter: invert(100%) sepia(4%) saturate(131%) hue-rotate(145deg) brightness(113%) contrast(86%);
}

.icon:nth-child(2n) {
    margin-right: 3px;
}

.board {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
}

.status {
    padding: 1em 0em;
}

@media (min-width: 576px) {
	:root {
		font-size: 1.1em;
		--cubeSize: 230px;
	}

	.diag-contact {
		-webkit-transform: translateX(21px) translateY(48px) rotate(45deg);
		transform: translateX(21px) translateY(48px) rotate(45deg);
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	:root {
        font-size: 1em;
		--cubeSize: 200px;
	}

    .cube_container {
        shape-outside: circle();
        margin: 2em;
        float: right;
    }

    .presentation {
        padding: 0em;
    }

    .project {
        display: inline;
        padding-left: 5em;
        padding-right: 5em;
    }

    .diag-contact {
		-webkit-transform: translateX(20px) translateY(45px) rotate(45deg);
		transform: translateX(20px) translateY(45px) rotate(45deg);
	}

    .skills {
        padding-top: 3em;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	:root {
		--cubeSize: 180px;
	}

    .name {
        font-size: 6em;
    }

    .skills {
        align-items:  end;
        padding-bottom: 1em;
    }

    .project {
        padding: 0em 5em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	:root {
		--cubeSize: 250px;
	}
}