/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
body {line-height: 1;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {
  	content: "";
  	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
 * FONT IMPORT
 */
@font-face {
  font-family: junction_regular;
  src: url(junction.ttf/junction_regular.ttf);
}
@font-face {
  font-family: junction_bold;
  src: url(junction.ttf/junction_bold.ttf);
}
@font-face {
  font-family: junction_light;
  src: url(junction.ttf/junction_light.ttf);
}

:root {
  --cubeSize: 220px;
  --backgroundColor: #ffe3ab;
  --squareColor: #fadfb0;
  --borderColor: #02040f;
  --boxShadow: #02282a71;
}

body {
	font-family: junction_regular;
	height: 100vh;
	background-color: var(--backgroundColor);
	display: flex;
	align-items: center;
	justify-content: center;
}

.square {
	z-index: 1;
  	width: 90%;
  	height: 90%;
  	border: 3px solid var(--borderColor);
  	border-radius: 3px;
  	transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.square:hover {
 	transform: translate(-10px, -10px);
  	box-shadow: 10px 10px var(--boxShadow);
	background-color: var(--squareColor);
}

.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.name { grid-area: 1 / 1 / 3 / 3; }
.skills { grid-area: 5 / 1 / 6 / 5; }
.board { grid-area: 4 / 5 / 6 / 6; }
.contact { grid-area: 1 / 5 / 2 / 6; }
.presentation { grid-area: 2 / 3 / 5 / 6; }
.project { grid-area: 2 / 1 / 5 / 3; }

.name {
	font-family: junction_bold;
	font-size: 3em;
	padding-top: 1em;
	padding-left: 2em;
	max-width: 4em;
	display: flex;
	flex-direction: column;
	text-align: end;
}

.nameplate {
	letter-spacing: 0.05em;
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.nameplate-letter {
	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.nameplate-letter:hover {
	padding-top: 0.5em;
	transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.description {
	font-size: 0.3em;
	padding-top: 0.2em;
	padding-right: 0.3em;
	white-space: nowrap;
}

.skills {
	z-index: 1;
	font-family: junction_bold;
	letter-spacing: 0.1em;
	display: flex;
	text-align: center;
	justify-content:space-around;
	flex-wrap: wrap;
	font-size: 1em;
	margin-top: auto;
	padding-bottom: 1.5em;
}

.skills > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills > span:hover {
}

.presentation {
	font-family: junction_regular;
	letter-spacing: 1px;
	padding: 1em;
	font-size: 2em;
}

.project {
	width: 100%;
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 0.2em;
}

.cube_container {
	perspective: 600px;
	width: calc(var(--cubeSize) * 2);
	height: calc(var(--cubeSize) * 2);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.cube {grid-area: 2 / 2 / 3 / 3;}
.show-top {grid-area: 1 / 2 / 2 / 3;}
.show-left {grid-area: 2 / 1 / 3 / 2;}
.show-bot {grid-area: 3 / 2 / 4 / 3;}
.show-right {grid-area: 2 / 3 / 3 / 4;}

.show-bot, .show-top, .show-left, .show-right { 
	z-index: 1;
	background-image: url(dot.svg);
	background-repeat: no-repeat;
	background-size: 2.1em;
	background-position: center;
}


.cube {
	cursor: pointer;
	transform-style: preserve-3d;
	width: var(--cubeSize);
	height: var(--cubeSize);
	transition: all 0.7s cubic-bezier(0.72, 0.02, 0.32, 0.99);*/
}

@keyframes scale-easeOutElastic { 
	0% { transform: scale(1); } 
	16% { transform: scale(-0.32); } 
	28% { transform: scale(0.13); } 
	44% { transform: scale(-0.05); } 
	59% { transform: scale(0.02); } 
	73% { transform: scale(-0.01); } 
	88% { transform: scale(0); } 
	100% { transform: scale(0); } 
}

.face {
  backface-visibility: hidden;
  position: absolute;
  background-color: rgb(228, 169, 106);
  border: 2px solid black;
  border-radius: 3px;
  width: var(--cubeSize);
  height: var(--cubeSize);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 2em;
  letter-spacing: 5px;
}

.show-bot,.show-top,.show-left,.show-right {
  border: none;
}

/*	Faces Placement		*/
.front {transform: translateZ(calc(var(--cubeSize) / 2));}
.back {transform: translateZ(calc(var(--cubeSize) / -2)) rotateY(180deg);}
.top {transform: translateY(calc(var(--cubeSize) / -2)) rotateX(90deg);}
.bottom {transform: translateY(calc(var(--cubeSize) / 2)) rotateX(-90deg);}
.left {transform: translateX(calc(var(--cubeSize) / -2)) rotateY(-90deg);}
.right {transform: translateX(calc(var(--cubeSize) / 2)) rotateY(90deg);}

.cube_container > button {
	background-color: transparent;
}

/*	Arrow Rotate		*/
.show-bot img {transform: rotate(180deg);}
.show-left img {transform: rotate(270deg);}
.show-right img {transform: rotate(90deg);}

/*	Movement Of The Cube*/
.showBack {transform: rotateX(180deg) rotateZ(180deg);}
.showTop {transform: rotateX(-90deg);}
.showBot {transform: rotateX(90deg);}
.showLeft {transform: rotateY(90deg);}
.showRight {transform: rotateY(-90deg);}

.contact {
	display: flex;
	align-self: flex-start;
	justify-content: end;
}

.diag-contact {
	display: flex;
	align-items: center;
	justify-content: right;
	transform: translateX(16%) translateY(95%) rotate(45deg);
	width: 150px;
}

.diag-icons {
	display: flex;
}

.trait {
	width: 100%;
	border-top: 3px solid #1b2124;
}

.icon {
	width: 25px;
	padding: 5px;
	transform: rotate(-45deg);
}

.board {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: auto;
	margin-top: auto;

}

.board {
	width: 15em;
}

.status {
	position: relative;
	letter-spacing: 2px;
	top: 3.9em;
	left: 2.8em;
	font-size: 1.6em;
	font-family: 'Caveat', cursive;
	width: 10px;
}

@media screen and (max-width: 1150px) {
	:root {--cubeSize: 200px;}
	.board {width: 13em;}
	.status {
		top: 3.5em;
		left: 2.3em;
	}
}

@media screen and (max-width: 1050px) {
	:root {--cubeSize: 180px;}
	.board {width: 11em;}
	.status {
		font-size: 1.3em;
		top: 3.5em;
		left: 2.5em;
	}
}

@media screen and (max-width: 950px) {
	:root {--cubeSize: 150px;}
	.board {width: 8em;}
	.status {
		font-size: 1em;
		top: 3.5em;
		left: 2.2em;
	}
}

@media screen and (max-width: 850px), (max-height: 650px) {
	:root {--cubeSize: 240px;}
	.board {width: 15em;}
	body {height: 1550px;}

	.status {
		position: relative;
		top: 3.9em;
		left: 2.8em;
		font-size: 1.6em;
		font-family: 'Caveat', cursive;
		width: 10px;
	}

	.project {
		flex-direction: row;
		padding-top: 0em;	
		padding-bottom: 3em;
	}

	.skills > span {
		padding: 1em 2em;
	}

	.presentation {
		padding: 1em 1em 0em 1em;
	}

	.parent {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(7, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.name { grid-area: 1 / 1 / 3 / 4; }
	.contact { grid-area: 1 / 3 / 2 / 4; }
	.presentation { grid-area: 2 / 1 / 4 / 4; }
	.project { grid-area: 4 / 1 / 7 / 4; }
	.skills { grid-area: 7 / 1 / 8 / 3; }
	.board { grid-area: 4 / 3 / 8 / 4; }
}

@media screen and (max-width: 550px)
{
	body {height: 1350px;}
	:root {--cubeSize: 200px;}
}

@media screen and (max-width: 450px)
{
	:root {--cubeSize: 150px;}
	body {height: 1200px;}

	.name { padding-left: 1em;}
	.project { padding: 1em 0em;}
	.skills {font-size: 0.9em;}
}

@media screen and (max-width: 380px)
{
	:root {--cubeSize: 150px;}
	body {height: 1200px;}

	.name { padding-left: 0.5em;}
	.project { padding: 1em 0em;}
	.board { width: 10em;}
	.status {
		top: 3em;
		left: 1.9em;
		font-size: 1.4em;
	}
	body { min-width: 350px;}
}