/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
body {line-height: 1;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {
  	content: "";
  	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
 * FONT IMPORT
 */
@font-face {
  font-family: junction_regular;
  src: url(junction.ttf/junction_regular.ttf);
}
@font-face {
  font-family: junction_bold;
  src: url(junction.ttf/junction_bold.ttf);
}
@font-face {
  font-family: junction_light;
  src: url(junction.ttf/junction_light.ttf);
}

:root {
	font-size: 0.7em;
  --cubeSize: 150px;

  --squareColor: #71ddcd;
  --borderColor: #02040f;
  --boxShadow: #ffffff;
}

html {
	height: 100%;
    width: 100%;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	color: #000000;
	margin: 0;
	min-width: 300px;
	font-family: junction_regular;
	font-size: 0.5em;
	height: 120%;
    width: 100%;
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	background: #184e77;
	background: linear-gradient(to top, #184e77 0%, #76c893 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.square {
	margin: auto;
	z-index: 1;
  	width: 90%;
  	border: 3px solid var(--borderColor);
  	border-radius: 3px;
	-webkit-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	-moz-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	-ms-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	-o-transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
	
	background-color: #52a786;
	-webkit-box-shadow: 15px 20px 70px #67b99a, 
						inset 0px -30px 90px 30px #78df9d, 
						inset 0px 70px 100px 180px #52a786;
	-moz-box-shadow: 	15px 20px 70px #67b99a, 
	  					inset 0px -30px 90px 30px #78df9d, 
	  					inset 0px 70px 100px 180px #52a786;

	box-shadow: 		15px 20px 70px #67b99a, 
	  					inset 0px -30px 90px 30px #78df9d, 
	  					inset 0px 70px 100px 180px #52a786;
}

@media (pointer:fine) {
	.square:hover {
		background:#BDD9BB;
		transform: translate(-10px, -10px);
		-webkit-box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		-moz-box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		
	}
}

@media (pointer:coarse) {
	.square {
		background:#BDD9BB;
		-webkit-box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		-moz-box-shadow: 15px 20px 60px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
		box-shadow: 15px 20px 70px #ade7a2, 
					inset 0px -30px 90px 30px #BDD9BB, 
					inset 0px 70px 100px 180px #ade7a2;
	}
}

.name {
	font-family: junction_bold;
	font-size: 3em;
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	flex-direction: column;
	text-align: start;
	letter-spacing: 0.05em;
	padding-top: 0.4em;
	padding-left: 0.5em;
	padding-bottom: 15px;
}

.nameplate {
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	flex-direction: row;
	justify-content: start;
}

.nameplate-letter {
	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.nameplate-letter:hover {
	transform: translateY(15px);
}

.description {
	letter-spacing: 0.05em;
	font-size: 0.3em;
	white-space: nowrap;
	padding-left: 2.4em;
	padding-top: 0.1em;
	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);

}

.skills {
	z-index: 1;
	font-family: junction_bold;
	letter-spacing: 0.1em;
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	text-align: center;
	justify-content:space-around;
	flex-wrap: wrap;
	font-size: 1em;
	padding-bottom: 0.8em;
}

.skills > span {
	padding: 1em 3em;
}

.skills > span:hover {
}

.presentation {
	font-family: junction_regular;
	letter-spacing: 1px;
	font-size: 2.7em;
	padding: 2em 1em;
    text-justify: distribute;
}

.project {
	width: 100%;
    
	/*display: -webkit-box;  
	display: -ms-flexbox;  
	display: -webkit-flex; 
	display: flex;         
	justify-content: center;
	text-align: center;*/
}

.cube_container {
	perspective: 600px;
	border-radius: 50%;
	width: calc(var(--cubeSize) * 2);
	height: calc(var(--cubeSize) * 2);
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radar {
	background-color: #79bca735;
	-webkit-box-shadow: 15px 20px 70px #67b99a, 						inset 0px -30px 90px 30px #78df9d, 						inset 0px 70px 100px 180px #52a786;
	-moz-box-shadow: 	15px 20px 70px #67b99a, 	  					inset 0px -30px 90px 30px #78df9d, 	  					inset 0px 70px 100px 180px #52a786;
	box-shadow: 		15px 20px 70px #67b99a, 	  					inset 0px -30px 90px 30px #78df9d, 	  					inset 0px 70px 100px 180px #52a786;
	width: calc(var(--cubeSize) * 2);
	height: calc(var(--cubeSize) * 2);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all 1s ease-in-out;
}



:root {
	--angleX: 0;
	--angleY: 0;
    --squeeze: 1;
}

.cube {
	position:absolute;
	transform-style: preserve-3d;
	width: var(--cubeSize);
	height: var(--cubeSize);
	transform: rotateX(var(--angleY)) rotateY(var(--angleX
)) scale3d(var(--squeeze), var(--squeeze), var(--squeeze));
}


.face {
  backface-visibility: hidden;
  position: absolute;
  background-color: #acc2b4;
  	-webkit-box-shadow: 15px 20px 70px #67b99a, 
						inset 0px -30px 90px 30px #78df9d, 
						inset 0px 70px 100px 180px #97e6c8;
	-moz-box-shadow: 	15px 20px 70px #67b99a, 
	  					inset 0px -30px 90px 30px #78df9d, 
	  					inset 0px 70px 100px 180px #52a786;

	box-shadow: 		15px 20px 70px #67b99a, 
	  					inset 0px -30px 90px 30px #78df9d, 
	  					inset 0px 70px 100px 180px #b7c6c0;
  border: 2px solid black;
  border-radius: 3px;
  width: var(--cubeSize);
  height: var(--cubeSize);
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 2em;
  letter-spacing: 5px;
}



/*	Faces Placement		*/
.front {transform: translateZ(calc(var(--cubeSize) / 2));}
.back {transform: translateZ(calc(var(--cubeSize) / -2)) rotateY(180deg);}
.top {transform: translateY(calc(var(--cubeSize) / -2)) rotateX(90deg);}
.bottom {transform: translateY(calc(var(--cubeSize) / 2)) rotateX(-90deg);}
.left {transform: translateX(calc(var(--cubeSize) / -2)) rotateY(-90deg);}
.right {transform: translateX(calc(var(--cubeSize) / 2)) rotateY(90deg);}

/*	Movement Of The Cube*/
@keyframes showBack {
    to {transform: rotateX(180deg) rotateZ(180deg);}
}
@keyframes showTop {
    to {transform: rotateX(-90deg);}
}
@keyframes showBot {
    to {transform: rotateX(90deg);}
}
@keyframes showLeft {
    to {transform: rotateY(90deg);}
}
@keyframes showRight {
    to {transform: rotateY(-90deg);}
}
@keyframes showFront {
    to {transform: rotateX(0deg);}
}
.contact {
	position: relative;
	background-color: blue;
	float: right;
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	justify-content: end;
	height: 0px;
	width: auto;
}

.diag-contact {
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	align-items: center;
	-webkit-transform: translateX(16px) translateY(35px) rotate(45deg);
	transform: translateX(16px) translateY(35px) rotate(45deg);
}

.diag-icons {
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
	cursor: pointer;
}

.trait {
	width: 3em;
	border-top: 3px solid #1b2124;
}

.icon {
	width: 32px;
	padding: 0px 5px;
	transform-origin: center;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.board {
	background-color: rgb(190, 119, 26);
	position: relative;
	float: right;
	display: flex;
	width: fit-content;
	
}

.board-svg {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 10em;
}

.status {
	position: absolute;
	letter-spacing: 2px;
	font-size: 1.1em;
	font-family: 'Caveat', cursive;
	right: 25px;
	bottom: 38px;
}

@media (min-width: 576px) {
	:root {
		font-size: 1.1em;
		--cubeSize: 190px;
	}

	.status {
		right: 36px;
		bottom: 53px;
	}

	.diag-contact {
		-webkit-transform: translateX(19px) translateY(40px) rotate(45deg);
		transform: translateX(19px) translateY(40px) rotate(45deg);
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	:root {
		--cubeSize: 140px;
	}

    .cube_container {
        shape-outside: circle();
        margin-right: 5em;
        float: left;
    }

    .project {
        display: inline;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	:root {
		--cubeSize: 180px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	:root {
		--cubeSize: 250px;
	}
}