<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link href="css/portfolio.css" rel="stylesheet"/>
		<link href="css/colors.css" rel="stylesheet"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
		</style>
		<title>Austin | Not Yet Full-Stack Developer</title>
	</head>
	<body>
		<div class="square parent" id="square">
			<div class="intro">
                <div class="name">
                    <div class="nameplate">
                        <h1 class="nameplate-letter">A</h1>
                        <h1 class="nameplate-letter">U</h1>
                        <h1 class="nameplate-letter">S</h1>
                        <h1 class="nameplate-letter">T</h1>
                        <h1 class="nameplate-letter">I</h1>
                        <h1 class="nameplate-letter">N</h1>
                        <h1 class="nameplate-letter supp">Q</h1>
                        <h1 class="nameplate-letter supp">U</h1>
                        <h1 class="nameplate-letter supp">A</h1>
                        <h1 class="nameplate-letter supp">R</h1>
                        <h1 class="nameplate-letter supp">K</h1>
                    </div>
                    <h2 class="description">NOT YET FULL-STACK DEVELOPER</h2>
                </div>
                <span class="contact">
                    <div class="diag-contact">
                        <div class="trait"></div>
                        <div class="diag-icons">
                            <img class="icon mail" src="svgs/paper-plane-solid.svg" alt="mail icon" />
                            <img class="icon linkedin" src="svgs/linkedin.svg" alt="linkedin icon" />
                            <img class="icon git" src="svgs/github-brands.svg" alt="github icon" />
                        </div>
                        <div class="trait"></div>
                    </div>
                </span>
            </div>
            <div class="project">
                <article class="cube_container" id="cube_container">
                </article>
                <p class="presentation">
                    Welcome! I'm <span class="forward">Austin</span>, a passionate <span class="forward">junior developer</span> from <span class="forward">Paris</span>, specializing in <span class="forward">frontend</span> and <span class="forward">backend development</span>. My coding journey began after my physics studies, igniting a deep passion for creating innovative solutions. At <span class="forward">42 School</span>, through <span class="forward">collaborative pair-programming</span>, I honed my skills and constantly strive to enhance my expertise.<br>

                    With a diverse skill set spanning <span class="forward">web development and beyond</span>, I enthusiastically take on <span class="forward">software projects</span>, crafting comprehensive applications that seamlessly blend <span class="forward">form and function</span>. Driven by a commitment to <span class="forward">excellence</span>, I deliver impactful digital solutions, captivating and engaging users with meticulous <span class="forward">attention to details</span>.<br>                    
                    
                    Despite being early in my career, I've already showcased my unique vision through successful completion of my first client project. Through innovation and collaboration, I aspire to surpass expectations, pushing the boundaries of what's possible.<br>
                    
                    Bridging the gap between <span class="forward">technology and art</span> is my passion. I infuse creativity into every aspect of my work, <span class="forward">continuously expanding my skill set and staying up-to-date with industry trends</span>.<br>
                    
                    If you have a <span class="forward">project</span>, an <span class="forward">idea</span>, or simply want to <span class="forward">connect</span>, please <span class="forward">feel free to reach out</span> via email.<br> <span class="forward">Thank you</span> for visiting, and I'm excited to contribute to your next digital venture!
                </p>
                    <div class="skills">
                        <span class="button">HTML</span>
                        <span class="button">CSS</span>
                        <span class="button">JAVASCRIPT</span>
                        <span class="button">THREEJS</span>
                        <span class="button">AXIOS</span>
                        <span class="button">SCSS/SASS</span>
                        <span class="button">TAILWIND</span>
                        <span class="button">REACT</span>
                        <span class="button">TYPESCRIPT</span>
                        <span class="button">C</span>
                        <span class="button">C++</span>
                        <span class="button">NODEJS</span>
                        <span class="button">EXPRESS</span>
                        <span class="button">EJS</span>
                        <span class="button">PHP</span>
                        <span class="button">DOCKER</span>
                        <span class="button">GIT</span>
                    </div>
		</div>
        <script type="text/javascript" src="scripts/contact.js"></script>
		<script type="text/javascript" src="scripts/description.js"></script>
        <script type="text/javascript" src="scripts/scroll.js"></script>
        <script type="module" src="scripts/cubeThree.js"></script>
    </body>
</html>
