:root {
    /**********************\
    *   COLOR VARIABLES    *  
    \**********************/


    /*  body    */
    --backgroundBody:   rgb(245,99,31);
    --gradient: linear-gradient(to top, #0d2751
                                    0%, #55c7de);


    /*  square  */
    --borderColor: #d3d3d3;
        /* not on hover */
    --backgroundSquare:         #2525258e; 
    --boxShadowSquare:          #fad96100;
    --boxShadowSquareInsetA:    #2E9DF6;
    --boxShadowSquareInsetB:    #3F83FA;


        /* on hover */
    --backgroundSquareHover:      #202020d5;
	--boxShadowSquareHover:       #414141;
	--boxShadowSquareHoverInsetA: #1a1a1a; 
	--boxShadowSquareHoverInsetB: #00569727;


    /*  radar   
    --backgroundRadar:      #b2fbff;
	--boxshadowRadar:       #b2fbff;
    --boxshadowRadarInsetA: #f3fffe;
    --boxshadowRadarInsetB: #90f4d9;
    */
    --backgroundRadar:      rgba(0, 0, 0, 0.548);
	--boxshadowRadar:       rgba(11, 20, 27, 0.658);
    --boxshadowRadarInsetA: rgba(0, 0, 0, 0.548);
    --boxshadowRadarInsetB: #rgba(0, 0, 0, 0.548);

    /*  face    */
    --backgroundFace:       #00042e;
    --boxShadowFace:        #7ae0ffb8;
    --boxShadowFaceInsetA:  #28303300;
    --boxShadowFaceInsetB:  #73aaa700;
  
}

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	color: #ededed;
	background: var(--backgroundBody);
	background: var(--gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.square {
    background-color: var(--backgroundSquare);
  	border: 2px solid var(--borderColor);
}

.board-svg { color: #414141;}

@media (pointer:fine) {
	.square {
            transform: translate(-10px, -10px);
            background-color: var(--backgroundSquareHover);
		    -webkit-box-shadow: inset 0px 0px 50px 0px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 15px 7px var(--boxShadowSquareHover); 
            box-shadow: inset 0px 0px 20px 3px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 0px 0px var(--boxShadowSquareHover);
	}

    .square .button {
        background-color: #4a5864a7;
        box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.13);
        /*box-shadow: 5px 5px 9px 3px #2a2d31;*/
    }
}

@media (pointer:coarse) {
	.square {
        background-color: var(--backgroundSquareHover);
        -webkit-box-shadow: inset 0px 0px 50px 0px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 15px 7px var(--boxShadowSquareHover); 
        box-shadow: inset 0px 0px 20px 3px var(--boxShadowSquareHoverInsetA), inset 0px 0px 10px 0px var(--boxShadowSquareHoverInsetB), 10px 10px 0px 0px var(--boxShadowSquareHover);
	}

    .button {
        background-color: #4a5864a7;
        box-shadow: 5px 8px 9px 1px #282c31;
    }
}

.cube_container {
    -webkit-box-shadow: 0px 0px 10px 5px var(--boxshadowRadar);
    box-shadow: 0px 0px 30px 5px var(--boxshadowRadar); 
    background-color: var(--backgroundRadar);
}

.face {
	background-color: var(--backgroundFace);
	-webkit-box-shadow: 0px 0px 10px var(--boxShadowFace);
	-moz-box-shadow: 	0px 0px 10px var(--boxShadowFace); 
	box-shadow: 		0px 0px 10px var(--boxShadowFace);

}